<!doctype html>
<html lang="en">
  <head>
    <%- include('../../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../../partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <h1>Projects</h1>
        <ul>
          <% projectData.forEach(function(row) { %>
          <li><strong><%= row.ProjectName %></strong>, <%= row.StartDate %>, <%= row.EndDate %>, <%= row.Status %></li>
          <% }); %>
        </ul>
        <form id="postNewProject">
          <input id="ProjectName" placeholder="Enter project name here" />
          <input id="startDate" type="date" placeholder="Enter project start date here" />
          <input id="endDate" type="date" placeholder="Enter project end date here" />
          <input id="status" placeholder="Enter project status here" />
          <button type="submit">Submit</button>
        </form>
        <script async>
          document.getElementById('postNewProject').addEventListener('submit', async event => {
            event.preventDefault();
            const ProjectName = document.getElementById('ProjectName').value;
            const StartDate = document.getElementById('startDate').value;
            const EndDate = document.getElementById('endDate').value;
            const Status = document.getElementById('status').value;

            const response = await fetch('http://localhost:3005/projects', {
              method: 'POST',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify({ ProjectName, StartDate, EndDate, Status }),
            });

            const result = await response.json();
            console.log(result);
          });
        </script>
      </div>
    </main>

    <footer><%- include('../../partials/footer'); %></footer>
  </body>
</html>
