<!doctype html>
<html lang="en">
  <head>
    <%- include('../../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../../partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <h1>All Users</h1>
        <ul>
          <% rows.forEach(function(row) { %>
          <li><strong><%= row.UserName %></strong>, <%= row.UserID %>, <%= row.email %></li>
          <% }); %>
        </ul>

        <form id="postNewUser">
          <input id="id" placeholder="Enter id here" />
          <input id="name" placeholder="Enter name here" />
          <input id="email" placeholder="Enter email here" />
          <button type="submit">Submit</button>
        </form>
        <script>
          document.getElementById('postNewUser').addEventListener('submit', async event => {
            event.preventDefault();
            const id = document.getElementById('id').value;
            const name = document.getElementById('name').value;
            const email = document.getElementById('email').value;

            const response = await fetch('http://localhost:3005/user', {
              method: 'POST',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify({ id, name, email }),
            });

            const result = await response.json();
            console.log(result);
          });
        </script>
      </div>
    </main>

    <footer><%- include('../../partials/footer'); %></footer>
  </body>
</html>
